<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>570129048847-rh0mp6gv0mn8h6qls9j8r2h2sh9ffnhk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.570129048847-rh0mp6gv0mn8h6qls9j8r2h2sh9ffnhk</string>
	<key>API_KEY</key>
	<string>AIzaSyDbgt7uGuESV2TEeQU2o-iQydj5Z5Vz_5Q</string>
	<key>GCM_SENDER_ID</key>
	<string>570129048847</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mimeit.app.ezMobile</string>
	<key>PROJECT_ID</key>
	<string>dark-form-307608</string>
	<key>STORAGE_BUCKET</key>
	<string>dark-form-307608.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:570129048847:ios:6d1e0f6be4a97b539e4a7a</string>
</dict>
</plist>